<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xk.sign.mapper.SignTimeMapper">

    <update id="addIndexTime" parameterType="map">
        update sign_time
        set indexTime = #{indexTime}
        where userId = #{userId}
    </update>

    <select id="findIndexTime" parameterType="int" resultType="com.xk.sign.bean.SignTime">
        select *
        from sign_time
        where userId = #{userId}
          and weekly = #{weekly}
    </select>

    <update id="addTime" parameterType="map">
        update sign_time
        set ${week} = #{time} + ${week}
        where userId = #{userId}
          and weekly = #{weekly}
    </update>

    <update id="deleteIndexTime" parameterType="map">
        update sign_time
        set indexTime = null
        where userId = #{userId}
          and weekly = #{weekly}
    </update>

    <resultMap id="findTimeData" type="com.xk.sign.bean.SignTime">
        <id column="sid" property="id"/>
        <result column="monday" property="monday"/>
        <result column="tuesday" property="tuesday"/>
        <result column="wednesday" property="wednesday"/>
        <result column="thursday" property="thursday"/>
        <result column="friday" property="friday"/>
        <result column="saturday" property="saturday"/>
        <result column="sunday" property="sunday"/>
        <result column="weekly" property="weekly"/>
        <association property="userInfo" javaType="com.xk.sign.bean.UserInfo">
            <id column="uid" property="id"/>
            <result column="realName" property="realName"/>
        </association>
    </resultMap>

    <select id="findTimeData" resultMap="findTimeData">
        select s.id sid,
               monday,
               tuesday,
               wednesday,
               thursday,
               friday,
               saturday,
               sunday,
               weekly,
               u.id uid,
               realName
        from sign_time s,
             user_info u
        WHERE s.userId = u.userId
    </select>

    <delete id="delSignTimeIds" parameterType="int">
        delete
        from sign_time
        where id = #{id}
    </delete>

    <update id="clearIndexTime">
        update sign_time
        set indexTime = null
    </update>

    <insert id="createUserIdByUser">
        INSERT INTO sign_time (userId)
        SELECT id
        FROM `user`
    </insert>

    <update id="updateWeekly" parameterType="int">
        update sign_time
        set weekly = #{weekly}
        where weekly IS NULL;
    </update>

    <select id="getTotalTime" parameterType="int" resultType="float">
        SELECT SUM(monday + tuesday + wednesday + thursday + friday + saturday + sunday) totalTime
        FROM sign_time
        WHERE userId = #{userId};
    </select>

    <insert id="createSignTimeByUserId" parameterType="double">
        insert into sign_time(weekly, userId)
        values (#{weekly}, #{userId})
    </insert>
</mapper>